<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] (%F:%L)- %m%n" />
		</layout>
	</appender>
	
	<appender name="Root_File_Appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="D:/crawler_log/Root.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d   %-5p %-17c{2} (%3F:%L) %3x - %m%n" />
		</layout>
	</appender>
	
	
	<appender name="All_Appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="D:/crawler_log/all.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d   %-5p %-17c{2} (%3F:%L) %3x - %m%n" />
		</layout>
	</appender>
	
	
	<!-- Login Logger -->
	<logger name="crawler.shopping" additivity="true">
		<level value="INFO" />
		<appender-ref ref="All_Appender" />
	</logger>
	
	 <!-- Project Root Logger -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="Root_File_Appender" />
	</root>
	

</log4j:configuration>